---
layout: default
page_name: about
---

{% include navbar.html %}

<section class="center hero bg-action white-letters">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="section-title">
          Learn more about Yucca Blossom Montessori Community
        </h2>
      </div>
    </div>
  </div>
</section>

<section class="center bg-secondary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="testimonial white-letters">
          <div class="content">
            “Our care of the child should be governed, not by the desire to make him learn things, but by the endeavor always to keep burning within him that light which is called intelligence.” Dr. Maria Montessori
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="section-title center primary">
          Our Story
        </h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="center">
          <img src="../img/about.jpg" class="d-block img-fluid mx-auto">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="editorial">
          <p>Yucca Blossom Montessori Community was founded in 2015 by Natalie London and Deidra Mitchell in order to expand high-quality early childhood education in Midland, TX. Natalie and Deidra met through a mutual friend, but it was their love of Montessori education that brought them together to form Yucca Blossom Montessori.</p>
          <p>At the time they first met, both Natalie and Deidra were providing Montessori education through licensed, in-home child care centers. After many excited conversations, they joined together-merging their individual dreams under the Yucca Blossom name.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="team" class="center bg-grey">
  <div class="container">
    <h2 class="section-heading tertiary">Our Team</h2>

    {% include team_members.html %}
    <!-- {% include hiring.html %} -->

  </div>
</section>

<section class="center bg-quaternary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="testimonial white-letters">
          <div class="content">
            Our mission is to create a life-long love of learning through thoughtful guidance.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="section-title center primary">
          What is Montessori Education?
        </h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="center">
          <img src="../img/bench.jpg" class="d-block img-fluid mx-auto">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="editorial">
          <p>Montessori is a method of education that is based on self-directed activity, hands-on learning, and collaborative play. In Montessori classrooms, children make creative choices in their learning, while the classroom and the teacher offer age-appropriate activities to guide the process. Children work in groups and individually to discover and explore the knowledge of the world and to develop their maximum potential.</p>
          <p>Montessori classrooms are beautifully crafted environments designed to meet the needs of children in a specific age range. Dr. Maria Montessori discovered that experiential learning in this type of classroom led to a deeper understanding of language, mathematics, science, music, social interactions, and much more.</p>
          <p>Every material in a Montessori classroom supports an aspect of child development; creating a match between the child’s natural interests and the available activities. Children are free to learn through their own experience and at their own pace. They can respond at any moment to the natural curiosities that exist in all humans and build a solid foundation for life-long learning.</p>
          <p>*Excerpted from the Montessori Northwest website: www.montessori-nw.org</p>
          <p><strong>What are the key elements of a Montessori classroom?</strong></p>
          <ul>
            <li>Mixed-age grouping of at least 3-year span</li>
            <li>Freedom of choice in activities</li>
            <li>A 3-hour, uninterrupted work cycle</li>
            <li>Didactic materials developed by Dr. Maria Montessori</li>
            <li>An expectation of respect for others, the materials, and the surrounding environment</li>
          </ul>
          <p>In Montessori education, the child chooses what she will do based upon her own interest. The ability to choose for one’s self is an empowering privilege. By freely choosing work, the child begins to experience concentration and a love of engaging in hard work. When this is repeated regularly, the child builds self-direction and a sense of capability and responsibility. It is the pathway to authentic self- esteem.</p>
          <p>At Yucca Blossom Montessori Community, we know that the adult, teacher or assistant, is there to guide the child gently and consistently toward greater growth and success.</p>
      </div>
    </div>
  </div>
</section>


<section class="center bg-primary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="testimonial white-letters">
          <div class="content">
            Curious about Association Montessori Internationale?<br> Find more information <a href="https://amiusa.org/" target="_blank"><u>here</u></a>.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
