<form class="left" action="https://www.page-bird.com/f/" method="post">
  <h3 class="primary-text">Basic Info</h3>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="name">Parent First Name</label>
        <input name="first_name" type="name" class="form-control" placeholder="First Name" required>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="name">Parent Last Name</label>
        <input name="last_name" type="name" class="form-control" placeholder="Last Name" required>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="email">Email address</label>
        <input name="E-mail" type="email" class="form-control" placeholder="you@example.com" required>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="phone">Phone number</label>
        <input required="" name="Phone" type="phone" class="form-control" placeholder="+1 (775) 1555-555">
      </div>
    </div>
  </div> <!-- end row -->
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="children">Name and age of each child interested in Yucca Blossom Montessori Community (age as Sept. 1, 2019)</label>
        <textarea name="children" rows="8" cols="80" class="form-control"></textarea>
      </div>
    </div>
  </div>

  <h3 class="separator-top primary-text">Your Interests</h3>

  <fieldset class="form-group">
    <legend>What excites your family most about Yucca Blossom Montessori Community?</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="What excites your family most about Yucca Blossom Montessori Community?" id="optionsRadios1" value="Self-paced Core Skills so our child can learn as quickly as possible">
          Self-paced Core Skills so our child can learn as quickly as possible
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="What excites your family most about Yucca Blossom Montessori Community?" id="optionsRadios2" value="Challenging Quests and Socratic Discussions that deliver 21st Century Skills">
        Challenging Quests and Socratic Discussions that deliver 21st Century Skills
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="What excites your family most about Yucca Blossom Montessori Community?" id="optionsRadios3" value="Apprenticeships that help young people find a calling that will change the world">
        Apprenticeships that help young people find a calling that will change the world
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="What excites your family most about Yucca Blossom Montessori Community?" id="optionsRadios4" value="A multi-age Learner Driven Community that will motivate our child">
        A multi-age Learner Driven Community that will motivate our child
      </label>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <legend>What concerns you most about transitioning to Yucca Blossom Montessori Community?</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="What concerns you most about transitioning to Yucca Blossom Montessori Community?" id="optionsRadios1" value="The work and rigor required">
        The work and rigor required
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="What concerns you most about transitioning to Yucca Blossom Montessori Community?" id="optionsRadios2" value="Whether I am ready to trust my child as an independent learner">
        Whether I am ready to trust my child as an independent learner
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="What concerns you most about transitioning to Yucca Blossom Montessori Community?" id="optionsRadios3" value="The lack of a traditional teacher and curriculum; no homework or grades">
        The lack of a traditional teacher and curriculum; no homework or grades
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="What concerns you most about transitioning to Yucca Blossom Montessori Community?" id="optionsRadios4" value="I don't believe every child is a genius.">
        I don't believe every child is a genius.
      </label>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <legend>How would you describe you, your spouse, and your child's learning environment so far?</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="How would you describe you, your spouse, and your child's learning environment so far?" id="optionsRadios1" value="Highly traditional but time for a change">
        Highly traditional but time for a change
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="How would you describe you, your spouse, and your child's learning environment so far?" id="optionsRadios2" value="A mix of traditional and non-traditional learning.">
        A mix of traditional and non-traditional learning
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="How would you describe you, your spouse, and your child's learning environment so far?" id="optionsRadios3" value="Non-traditional.">
        Non-traditional
      </label>
    </div>
  </fieldset>


  <input type="hidden" name="_next" value="thanks" />
  <input type="hidden" name="_subject" value="New website audition" />
  <input type="text" name="_gotcha" style="display:none" />

  <div class="center">
    <input type="submit" value="Submit" class="button quaternary">
  </div>
</form>
