<div class="faqs-box box bg-white">
  <div class="question-wrapper">
    <div class="question">
      What grades do you offer?
    </div>
    <div class="answer">
      <ul>
        <li>1- 8th grade (6 - 14 years old)</li>
      </ul>
    </div>
  </div> <!-- end question wrapper -->
  <div class="question-wrapper">
    <div class="question">
      What is your tuition?
    </div>
    <div class="answer">
      <ul>
        <li>$820 per month September - July ($9,020 per year)</li>
      </ul>
    </div>
  </div>
  <div class="question-wrapper">
    <div class="question">
      What is the school calendar?
    </div>
    <div class="answer">
      <p>Find our school calendar below. You can click on it to download the PDF version.</p>
      <a href="../img/calendar.pdf" targe="_blank">Yucca Blossom | 2019 - 2020 Calendar</a>
    </div>
  </div>
  <!-- end question wrapper -->
  <div class="question-wrapper">
    <div class="question">
      What do you mean by “a hero’s journey”?
    </div>
    <div class="answer">
      <p>We believe that each of us has a special calling in life, and a series of trials and tests that must be faced
        with integrity and purpose in order to live a satisfying and fulfilled life. Our mission is to prepare your
        child for his or her special journey.</p>
    </div>
  </div> <!-- end question wrapper -->
  <div class="question-wrapper">
    <div class="question">
      What is an “independent learner”?
    </div>
    <div class="answer">
      <p>Someone who can research questions, follow instructions, solve problems—admit that they don’t know something
        and figure out a solution when they hit a roadblock without asking an adult for help — participate in
        discussions, and strive for mastery.</p>
    </div>
  </div> <!-- end question wrapper -->
  <div class="question-wrapper">
    <div class="question">
      What do you mean by “every child can change the world?”
    </div>
    <div class="answer">
      <p>We believe each of our students will find a passion - something they love and have a gift to do. They will use
        this gift to serve others and fulfill a need they are passionate about in the world. This may be by becoming a
        shoe-shiner who tells stories and makes people's day just by doing his job with love and vigor; it may be by
        becoming a coach who sees the light in a child's eyes and guides her to pursue a dream; it may be by becoming a
        father or mother who leads a family on a Hero's Journey; it may be becoming an entrepreneur or business leader
        guided by compassion and integrity; or it may be by becoming an artist or writer who brings beauty to people's
        lives.</p>
    </div>
  </div> <!-- end question wrapper -->
  <div class="question-wrapper">
    <div class="question">
      What is a “running partner”?
    </div>
    <div class="answer">
      <p>Running Partners are classmates who meet together regularly to set goals and hold each other accountable for
        meeting those goals. Running Partners encourage and inspire each other by asking good questions, listening and
        providing affirmation.</p>
    </div>
  </div> <!-- end question wrapper -->
  <div class="question-wrapper">
    <div class="question">
      Why a learner driven classroom?
    </div>
    <div class="answer">
      <p>At Yucca Blossom we believe in learning to be and learning to do and an important part of this is
        encouraging kids to take responsibility for their own behavior and hold those around them to a high standard.
        When something isn’t working, we want our students to work together to solve the problem, not look for an adult
        to solve it for them. This creates a sense of independence and confidence that will serve them well in all
        areas of life.</p>
    </div>
  </div> <!-- end question wrapper -->
  <div class="question-wrapper">
    <div class="question">
      How do you use technology in the classroom without students having too much screen time?
    </div>
    <div class="answer">
      <p>At Yucca Blossom, we believe in the power of balance. Using the incredible, self-paced eLearning
        tools now available, we are able to provide the rigor needed for learning math, vocabulary, spelling and
        grammar in about 90 minutes each day, while freeing up the rest of the day for engaging, project-based
        learning. The two are highly complementary.</p>
    </div>
  </div> <!-- end question wrapper -->
</div>
