<footer class="center">
  <div class="container">
    <h3>Begin your family's journey</h3>
    <a class="button quaternary m2" href="tour">Talk With Us</a>
    <img src="img/logo.jpg" class="logo-footer d-block mx-auto">

    <div class="social-icons m2">
      <a href="" class="social-icon" target="_blank">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
      </a>
    </div>

    <div class="row mt2">
      <div class="col-12">
        <a href="{{ site.url }}">Homepage</a>
        <a href="about">About</a>
        <a href="about#team">Team</a>
        <a href="faq">FAQ</a>
        <a href="resources">Resources</a>
        <a href="admissions">Admissions</a>
        <a href="contact">Contact</a>
      </div>
    </div>
    <p class="copyright">
      © Yucca Blossom 2019
    </p>
  </div>
</footer>
