<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="8C60E9WSnWb8a7zRlfm1IaPs9Vj0zvZNEkzD92j3L3c" />

  <title>{{ site.title }}</title>
  <meta name="description" content="{{site.description}}">

  <meta property="og:image" content="{{site.url}}/img/fb.jpg">

  <link rel="stylesheet" href="vendor/css/bootstrap.min.css">
  <link rel="stylesheet" href="vendor/css/font-awesome.min.css">
  <link rel="stylesheet" href="vendor/css/lity.min.css">
  <link rel="stylesheet" href="vendor/css/ionicons.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="shortcut icon" href="img/favicon.png">

  {% include import_js.html %}

<!-- Global site tag (gtag.js) - Google Analytics -->


</head>
