<div class="person-wrapper">
  <div class="row justify-content-center">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-6">
      <div class="editorial">
        <h3 class="section-title mb1">
          <div class="person-title mb-3">Join our Team!</div>
          We're looking for an Elementary Learning Designer/Guide
        </h3>
        <p>
          Do you want to change the world?

          If your goal is to instill your love of learning in others while advancing your own professional growth, this
          is your chance to become a part of one of the world’s most innovative schools.
        </p>
        <p><a
            href="#"
            class="button quaternary" target="_blank">Learn More and Apply</a></p>
      </div>
    </div>
  </div>
</div>
