<div class="person-wrapper">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <img src="img/team/natalie.jpg" class="d-block img-fluid mx-auto mb-3 img-circle">
    </div>
    <div class="col-lg-6">
      <div class="editorial">
        <h3 class="section-title">
          Natalie London
          <div class="person-title">Director and Children's House guide</div>
        </h3>
        <p>
           Natalie was born and raised in Odessa, TX. After spending her adolescence and early adulthood elsewhere in various parts of Texas, she returned to the Permian Basin with her husband in 2012. Natalie has been involved with Montessori education since 2004. Natalie knew that there was something very special about this way of educating after her first internship at Belden St. Montessori School in Sherman, TX. After graduating from Austin College with a B.A. in History, she moved to Austin to continue her immersion in Montessori education. She spent 8 years at Austin Montessori School, working in the roles of guide, assistant, and campus coordinator. Her experience there allowed her to see the impact of the Montessori philosophy on children and their families from infancy through adolescence.
        </p>
        <p>
          Natalie completed her AMI Primary Training in 2007 under the direction of Joen Bettmann in Atlanta, GA. She went on to complete her Master of Education at Loyola University in 2009. Natalie serves both as the Director of Yucca Learning  and as the Children’s House guide. She loves the opportunity to share the greater vision of Montessori with the parent community, but her greatest joy is in watching the unfolding of a child’s wonder.
        </p>
        <p>
          Natalie and her family love living in Midland. You might spy them at the duck pond, scouting out the Midland Downtown Farmers’ Market, or enjoying a new artist’s work at the Museum of the Southwest.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="person-wrapper">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <img src="img/team/deidra.jpg" class="d-block img-fluid mx-auto mb-3 img-circle">
    </div>
    <div class="col-lg-6">
      <div class="editorial">
        <h3 class="section-title">
          Deidra Mitchell
          <div class="person-title">Co-Founder</div>
        </h3>
        <p>
          Deidra holds her Associate of Science in Early Childhood Education. She has helped to train staff, develop and implement curriculum, and facilitate parent education at early childcare centers from New Mexico to Buffalo. She went on to help them become National Association for the Education of Young Children (NAEYC) accredited. She has spent over 20 years working with infants, toddlers, and their parents.
        </p>
        <p>
          It was love at first sight when Deidra first encountered Montessori philosophy. Though she could not take a formal training right away, she began incorporating as much of the Montessori philosophy into her life as possible. Deidra completed her AMI Assistants to Infancy training in 2017 under the direction of Sara Brady at the Montessori Institute of North Texas.
        </p>
        <p>She and her husband became foster parents in Buffalo and adopted their son, who is now 14. After his adoption was final they returned to Texas to be closer to family. Since moving to Midland, Deidra had twin girls and one more daughter. Their family of 6 loves Midland, and plans to call it home forever. You can find them swimming in the pool, riding bikes at the park, or welcoming the whole neighborhood over for backyard fun and delicious food. </p>
      </div>
    </div>
  </div>
</div>

<div class="person-wrapper">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <img src="img/team/elaine.jpg" class="d-block img-fluid mx-auto mb-3 img-circle">
    </div>
    <div class="col-lg-6">
      <div class="editorial">
        <h3 class="section-title">
          Elaine
        </h3>
        <p>
          Elaine was born and raised in Midland, TX. During her senior year of high school, Elaine found her love of helping children while working as an aide in the Resource Room at Greathouse Elementary. Then in college, Elaine went on to get married and had her first child right after graduating with an Associates in Science in Sociology. Afterwards, she decided to become a stay at home mom for her 3 children but never lost her love for working with children.She has attended conferences on childhood development, autism, and ADHD. Elaine has used this knowledge in her personal life as well as when working at CDO programs and teaching kindergarten- 2nd grade at Grace Academy.
        </p>
        <p>
          While at Grace Academy, Elaine was introduced to the fundamentals of Acton Academy and the Socratic Method. She was amazed after witnessing children 7 yrs- 14 yrs sit down together to hold their own Socratic discussions involving ‘real life situations’. She found their thoughts to be deep and inquisitive and is excited to see what else is to come when guiding more children in their learning journey at Acton Academy.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="person-wrapper">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <img src="img/team/placeholder.png" class="d-block img-fluid mx-auto mb-3 img-circle">
    </div>
    <div class="col-lg-6">
      <div class="editorial">
        <h3 class="section-title">
          Chandra Llora
        </h3>
        <p>
          Chandra Llora grew up in a small town outside Tuscon, Arizona. Always a traveler at heart, she became an EMT and left Arizona to travel North America, Central America, and Africa. When she returned to the US, she settled down in Midland Tx where she became a massage therapist and studied sociology. Chandra's  passion for education wasn't ignited until she had a daughter of her own and began looking for ways to inspire her love of learning. After teaching music at a local private school for 3 years, she decided to homeschool her children.
        </p>
        <p>
          After the first year of homeschooling her own children, she found several people in Midland who were looking for educational options. She started a homeschool co-op that she and Elaine Shaw ran for 5 years. With an inclusive mindset, she pursued certifications in the Davis Method and Orton Gillingham reading so that she would be able to inspire learners from all levels and learning styles. Although her Davis Method certification was something she decided not to continue, it was what directed her path to the idea that everyone is capable of genius.
        </p>
      </div>
    </div>
  </div>
</div>
